<!DOCTYPE html>
<!--[if lt IE 7]>
<html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>
<html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>
<html class="no-js lt-ie9"> <![endif]-->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=EDGE">
  <meta content="width=device-width,initial-scale=1, user-scalable=no" name="viewport">
  <title>{$desc['title']}</title>
  <meta name="keywords" content="{$desc['keywords']}">
  <meta name="description" content="{$desc['description']}">
  <meta property="qc:admins" content="1257363774670076375">

  	<link media="all" type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/styles.css">
	<script src="__PUBLIC__/Home/js/jquery-1.8.3.min.js"></script>
<link media="all" type="text/css" rel="stylesheet" href="__PUBLIC__/Home/css/address.css">
<body>
 <header class="main-header">
  <div class="upper-area">
    <div class="wrapper g">
      <ul class="gi menu-sec">
  
  
  
  
  
  <!-- <li class='gi' data-desktop='.menu-sec' data-mobile='.main-menu nav>ul'>
    <a href='http://points.oppo.com/' target='_blank'>积分商城</a>
  </li> -->
  <!-- <li class='gi gi-search' data-mobile='.main-menu nav .nav-ul-view > ul'>
  </li> -->
<li class="gi" data-desktop=".menu-sec" data-mobile=".main-menu nav&gt;ul">
    <a href="http://www.oppo.cn/" target="_blank">社区</a>
  </li><li class="gi" data-desktop=".menu-sec" data-mobile=".main-menu nav&gt;ul">
    <a href="http://www.coloros.com/" target="_blank">ColorOS</a>
  </li><li class="gi" data-desktop=".menu-sec" data-mobile=".main-menu nav .nav-ul-view &gt; ul">
    <a href="http://store.oppomobile.com/" target="_blank">软件商店</a>
  </li><li class="gi" data-desktop=".menu-sec" data-mobile=".main-menu nav .nav-ul-view &gt; ul">
    <a href="http://zhushou.oppo.com/" target="_blank">手机助手</a>
  </li><li class="gi" data-desktop=".menu-sec" data-mobile=".main-menu nav .nav-ul-view &gt; ul">
    <a href="http://yun.oppo.com/" target="_blank">云服务</a>
  </li></ul>      <div class="search gi">
  <a class="js-toggle-close" href="#">
    <span class="icon icon-search"></span>
  </a>
  <div class="search-form js-content">
    <div class="wrapper">
      
    <form action="http://www.opposhop.cn/products" class="main-form" data-desktop=".search-form .wrapper" data-mobile=".main-menu .search">
        <div class="input-button-item"><input placeholder="搜索OPPO商品" name="q" type="text"><button class="button button-primary" type="submit">搜索</button>
        </div>
      </form></div>
  </div>
</div>     <ul class='gi log-area'>
	<if condition = "session('?login')">
	  <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
		<a href="{:U('Home/User/index')}">
		  <span class='text'>我的OPPO</span>
		  <span class='icon icon-messages'></span>
		  <span class='n-messages'>()</span>
		</a>
	  </li>
	  <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
		<a class='logout' href="{:U('Home/User/logout')}">退出</a>
	  </li>
	<else />
    <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
      <a href="{:U('Login/index')}">
        登录
      </a>
    </li>
    <li class='gi hasLogout' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area'>
		<a href="{:U('Add/index')}">
		注册
		</a>
    </li>
  <li class='gi' data-desktop='.upper-area .log-area' data-mobile='.mobile-tools .log-area' id='old-version-link'>
  </li>
  </if>
</ul>       <ul class="gi menu-lang">
  
<li class="gi gi-language" data-desktop=".menu-lang" data-mobile=".main-menu nav .nav-ul-view &gt; ul">
    <a class="lang-link js-toggle-close" href="#">Global</a>
    
  <div class="languages js-content" data-desktop=".gi-language" data-mobile=".languages-panel">
      <div class="wrapper">
        <h3 class="h-epsilon">Select your country or region</h3>
        <ul>
          <li>
          <a href="http://www.oppo.com/dz/">Algérie</a>
          </li>
          <li>
          <a href="http://www.oppo.com/au/">Australia</a>
          </li>
          <li>
          <a href="http://www.oppo.com/bd/">Bangladesh</a>
          </li>
          <li>
          <a href="http://www.oppo.com/eg/">Egypt</a>
          </li>
          <li>
          <a href="http://www.oppo.com/en/">Global</a>
          </li>
          <li>
          <a href="http://www.oppo.com/in/">India</a>
          </li>
          <li>
          <a href="http://www.oppo.com/id/">Indonesia</a>
          </li>
          <li>
          <a href="http://www.oppo.com/ke/">Kenya</a>
          </li>
          <li>
          <a href="http://www.oppo.com/my/">Malaysia</a>
          </li>
          <li>
          <a href="http://www.oppo.com/ma/">Maroc</a>
          </li>
          <!-- <li>
          <a  href='http://www.oppo.com/mx/'>México</a>
          </li> -->
          <!-- <li>
          <a  href='http://www.oppo.com/ng/'>Nigeria</a>
          </li> -->
          <li>
          <a href="http://www.oppo.com/pk/">Pakistan</a>
          </li>
          <li>
          <a href="http://www.oppo.com/ph/">Philippines</a>
          </li>
          <li>
          <a href="http://www.oppo.com/sg/">Singapore</a>
          </li>
          <li>
          <a href="http://www.oppo.com/lk/">Sri Lanka</a>
          </li>
          <li>
          <a href="http://www.oppo.com/tw/">台灣</a>
          </li>
          <li>
          <a href="http://www.oppo.com/ae/">UAE</a>
          </li>
          <li>
          <a href="http://www.oppomobile.vn/">Việt Nam</a>
          </li>
          <li>
          <a href="http://www.oppo.com/th/">ประเทศไทย</a>
          </li>
          <li>
          <a href="http://www.oppo.com/mm/">Myanmar</a>
          </li>
          <li>
          <a class="current" href="http://www.oppo.com/cn/">中国</a>
          </li>
        </ul>
      </div>
    </div></li></ul>    </div>
  </div>
  <div class="bottom-area">
    <div class="wrapper">
      <a class="js-open-menu" href="#">
        <i class="js-open-menu-bar"></i>
      </a>
      <div class="logo logo-extend">
        <a href="{:U('Index/index')}">
          <img alt="" src="__PUBLIC__/{$desc['logo']}" style="width:190px;height:31px"/>
        </a>
        <!-- <a class="logo-special oppo-tj" data-tj="www|img|revision|special-logo">
          <img src="/cn/media/images/revision/qixi/qixi-logo.gif" />
        </a> -->
        <!-- <a class="logo-special oppo-tj" data-tj="www|img|revision|special-logo">
          <img src="/cn/media/images/revision/newyear/monkey-logo.gif" />
        </a> -->
      </div>
      <a class="js-open-user" href="#">
        <img src="__PUBLIC__/Home/images/icon-menu-user.png" alt="">
      </a>
      <div class="main-menu">
        <!-- <div class='mobile-tools'>
          <a class='js-close-menu' href='#'>
            <img alt='' src='/cn/media/images/icon-menu-close.png' />
          </a>
          <ul class='g log-area'></ul>
        </div> -->
        <div class="search"></div>
        <nav>
  <div class="nav-ul-view">
  <ul class='menu g'>
    <li class='gi
        '>
      <a class='m-item' href='{:U("Home/Index/index")}'>
        <span>首页</span>
      </a>
    </li>
    <li class='gi
        '>
      <a class='m-item' href='{:U("Home/Goods/index")}'>
        <span>产品</span>
      </a>
    </li>
    <li class='gi
        '>
      <a class='m-item' href='{:U("Home/News/index")}'>
        <span>品牌</span>
              </a>
          </li>
    <li class='gi'>
      <a class='m-item' href='{:U("Home/Goods/index")}'>
        <span>在线商城</span>
        <span class='js-toggle-submenu toggle'></span>
      </a>
      <ul class='sub-menu'>
        <li>
          <a href='{:U("Home/Goods/index")}'>手机</a>
        </li>
        <li>
          <a href='{:U("Home/Part/index")}'>配件</a>
        </li>
        <li>
        	<a href='{:U("Home/ScoreShop/index")}' target='_blank'>积分商城</a>
        </li>
      </ul>
    </li>
    <li class='gi
        is-active
        '>
      <a class='m-item' href='{:U("Home/Store/index")}'>
        <span>体验店</span>
      </a>
    </li>
    <li class='gi
        '>
      <a class='m-item' href=''>
        <span>服务</span>
              </a>
    </li>
        </ul>
  </div>
</nav>      </div>
      <div class="user-menu">
<div class="relative">
  <ul>
    <li class="user-menu-login">
      <a href="http://www.opposhop.cn/orders">我的订单</a>
    </li>
    <li class="user-menu-login">
      <a href="{:U('User/detail')}">账户信息</a>
    </li>
    <li class="user-menu-login">
      <a href="http://www.opposhop.cn/user/addresses">配送地址</a>
    </li>
    <li class="user-menu-login user-menu-message">
      <a href="http://my.oppo.com/user/messages">系统消息</a>
    </li>
    <li class="user-menu-login user-menu-cart">
      <a href="http://www.opposhop.cn/cart">购物车</a>
    </li>
    <li class="user-menu-login user-menu-toLogin">
      <a href="http://my.oppo.com/auth/login?callback=http%3A%2F%2Fwww.oppo.com%2Fcn%2Fshops%2F7437">
        登录
      </a>
    </li>
    <li class="user-menu-logout">
      <a href="http://my.oppo.com/auth/logout?callback=http%3A%2F%2Fwww.oppo.com%2Fcn%2Fshops%2F7437">退出</a>
    </li>
  </ul>
</div>
</div>    </div>
  </div>
  <div class="nav-sub-menu">
  <div class="relative"></div>
</div>
<div class="nav-search-mask"></div>
<div class="nav-search">
  <div class="nav-search-container">
    <div class="nav-search-content">
      <div class="nav-search-input">
        <form action="http://www.opposhop.cn/products" class="main-form">
          <input placeholder="搜索OPPO商品" name="q" type="text">
          <button class="button" type="submit">搜索</button>
          <a href="#" class="nav-search-close">取消</a>
        </form>
      </div>
    </div>
  </div>
</div>  <div style="display: none;" class="languages-panel"></div>
</header>

  <main class="main-content slab-light offline-store-detail">
    <div class="wrapper">
      <ul class="breadcrumb">
  <li>
    <a href="{:U('Index/index')}">
      首页
      <span>/</span>
    </a>
  </li>
            <li>
                  <a href="{:U('Store/index')}">
            体验店
            <span></span>
          </a>
              </li>
      </ul>
	  <foreach name="data" item="data">
      <div class="brick-title"></div>
      <h1 class="h-gamma mobile-plan-title">{$data['name']}<span>体验店</span></h1>
      <!-- brick-bottom start -->
      <div class="brick-bottom">
        <!--slab-white-border start -->
        <div class="slab-white-border">
          <div class="offline-store-content">
            <div class="g">
              <div class="gi lap-one-half one-whole">
                <!--offline-store-about start -->
                <div class="offline-store-about">
                  <div class="field">
                    <p class="offline-store-title">营业电话和地址</p>
                  </div>
                  <div class="field">
                    <p class="offline-store-date"><span id="tel" >{$data['tel']}</span><span>10 : 00-22 : 00</span></p>
                  </div>
                  <div class="field">
                    <p>
                      <strong id="address" >{$data['address']}</strong>
                    </p>
                  </div>
                  <div class="field about-icons">
                    <div class="g">
                      <div class="gi one-third badge-mobile">
                        <div id="send" class="badge-icon">
                          <span  class="icon icons-plus icons-plus-send"></span>
                        </div>
						<script>
							//点击发送
							$('#send').click(function(){
								
								//获取地址信息
								var address = $('#address').text();
								var tel = $('#tel').text();
								alert('发送成功');
							//发送ajax
								$.ajax({
									url:'../../code',
									data:{address:address,tel:tel},
									type:'post',
									async:false,//设置同步
									success:function(data){
									console.log(data);
									}
								})
							
							})
						</script>
                        <div class="badge-info">
                          <h5 class="h-epsilon">发送地址到手机</h5>
                        </div>
                      </div>
                      <div class="gi one-half badge-qrcode">
                        <p>
                          <img class="video-bg" src="__PUBLIC__/Home/images/7437.png" height="120" width="120">
                        </p>
                        <h5 class="h-epsilon">扫二维码获取地址</h5>
                      </div>
                    </div>
                  </div>
                </div>
                <!--offline-store-about end -->
              </div>
              <div class="gi lap-one-half one-whole">
                <div class="field map-follow">
                </div>
				<img src="__PUBLIC__/Home/images/map.png" />
			  </div>
            </div>
            <div class="g">
              <div class="field">
                <p class="offline-store-title">专卖店服务</p>
              </div>
              <!--icon list start -->
              <div class="field icon-list">
                <div class="g">
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-hyjf"></span>
                  </span>
                    会员积分
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-hyzsjg"></span>
                  </span>
                    会员专属价格
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-sjtm"></span>
                  </span>
                    手机贴膜
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-yyrjxz"></span>
                  </span>
                    应用软件下载
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-gjsj"></span>
                  </span>
                    固件升级
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-coloros"></span>
                  </span>
                    ColorOS
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-jkybf"></span>
                  </span>
                    剪卡、云备份
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-gnjx"></span>
                  </span>
                    功能教学
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-sjjyz"></span>
                  </span>
                    手机加油站
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-wificl"></span>
                  </span>
                    WIFI冲浪
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-axs"></span>
                  </span>
                    爱心伞
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-sx"></span>
                  </span>
                    送修
                  </div>
                  <div class="gi desk-one-quarter one-half">
                  <span class="icon-wrapper">
                    <span class="icons-shops icon-shop-xoms"></span>
                  </span>
                    小欧秘书
                  </div>
                </div>
              </div>
              <!--icon list end -->
            </div>
                      </div>
        </div>
        <!-- slab-white-border end -->
      </div>
      <!-- brick-bottom end -->
    </div>
  </main>
  <footer class="main-footer">
  <div class="footer-prominent-area">
    <div class="wrapper g">
    <div class="gi lap-one-third">
    <a class="footer-prominent-button
          primary
        " href="http://www.oppo.cn/" title="OPPO社区" target="_blank"><span class="img"><img alt="OPPO社区" title="OPPO社区" src="__PUBLIC__/Home/images/201502270202233FZ8VzjUJgb2YsLn.png"></span><span class="text">OPPO社区</span></a>
  </div>
    <div class="gi lap-one-third">
    <a class="footer-prominent-button
          secondary
        " href="http://www.coloros.com/" title="ColorOS" target="_blank"><span class="img"><img alt="OPPO ColorOS" title="ColorOS" src="__PUBLIC__/Home/images/20150227020237clUXgMcj3UhukiC0.png"></span><span class="text">ColorOS</span></a>
  </div>
    <div class="gi lap-one-third">
    <a class="footer-prominent-button
          primary
        " href="http://store.oppomobile.com/" title="软件商店" target="_blank"><span class="img"><img alt="OPPO软件商店" title="软件商店" src="__PUBLIC__/Home/images/20150314030306RfYFRTucS1nB3wtQ.png"></span><span class="text">软件商店</span></a>
  </div>
  </div>  </div>
  <div class="footer-sitemap">
    <nav class="wrapper">
  <ul class="g">
        <li class="gi lap-one-fifth">
      <a class="m-item" href="http://www.oppo.com/cn/products" target="_blank">推荐机型</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href="http://www.opposhop.cn/products/330.html" target="_blank">R7s</a>
        </li>
                <li>
          <a href="http://www.opposhop.cn/products/319.html" target="_blank">R7 Plus</a>
        </li>
                <li>
          <a href="http://www.opposhop.cn/products/288.html" target="_blank">R7</a>
        </li>
                <li>
          <a href="http://www.opposhop.cn/products/118.html" target="_blank">R1C</a>
        </li>
                <li>
          <a href="http://www.opposhop.cn/products/112.html" target="_blank">N1 mini</a>
        </li>
              </ul>
    </li>
        <li class="gi lap-one-fifth">
      <a class="m-item" href="http://www.opposhop.cn/" target="_blank">在线购买</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href="http://www.opposhop.cn/products?is_promotion=0&amp;category=1" target="_blank">手机</a>
        </li>
                <li>
          <a href="http://www.opposhop.cn/products?is_promotion=0&amp;category=2" target="_blank">配件</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/service/help?name=%E8%B4%AD%E4%B9%B0%E5%B8%AE%E5%8A%A9" target="_blank">购物指南</a>
        </li>
                <li>
          <a href="http://points.oppo.com/" target="_blank">积分商城</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/service/help/614?name=%E6%89%93%E5%81%87%E7%BB%B4%E6%9D%83" target="_blank">官方授权网店</a>
        </li>
              </ul>
    </li>
        <li class="gi lap-one-fifth">
      <a class="m-item" href="http://www.oppo.com/cn/service" target="_blank">服务</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href="http://www.oppo.com/cn/service/help?name=%E8%B4%AD%E4%B9%B0%E5%B8%AE%E5%8A%A9" target="_blank">购买帮助</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/service/help/360?name=%E8%B4%AD%E4%B9%B0%E5%B8%AE%E5%8A%A9" target="_blank">物流查询</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/service/faq" target="_blank">常见问题</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/service/help?name=%E6%9C%8D%E5%8A%A1%E6%94%BF%E7%AD%96" target="_blank">服务政策</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/service/map" target="_blank">服务网点查询</a>
        </li>
              </ul>
    </li>
        <li class="gi lap-one-fifth">
      <a class="m-item" href="http://points.oppo.com/" target="_blank">会员相关</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href="http://my.oppo.com/auth/login" target="_blank">会员登录</a>
        </li>
                <li>
          <a href="http://my.oppo.com/auth/register" target="_blank">会员注册</a>
        </li>
                <li>
          <a href="http://points.oppo.com/" target="_blank">积分兑换</a>
        </li>
              </ul>
    </li>
        <li class="gi lap-one-fifth">
      <a class="m-item" href="http://www.oppo.com/cn/blogs" target="_blank">OPPO品牌</a>
      <span class="toggle js-toggle-sitemap"></span>
      <ul>
                <li>
          <a href="http://www.oppo.com/cn/blogs/about" target="_blank">关于OPPO</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/blogs?group_name=%E8%B5%84%E8%AE%AF" target="_blank">资讯</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/photogallery" target="_blank">摄影作品</a>
        </li>
                <li>
          <a href="http://www.oppo.com/cn/blogs/video" target="_blank">我们的视频</a>
        </li>
              </ul>
    </li>
      </ul>
</nav>  </div>
  <div class="footer-tools">
    <div class="wrapper">
      <div class="footer-social lap-one-half desk-lap-one-third"><p>
          <span class="text">关注我们</span>
          <a href="http://weibo.com/oppo" target="_blank">
            <span class="icon icon-weibo"></span>
          </a>
          <a href="#" id="footer-wx" class="relative">
            <span class="icon icon-wechat"></span>
            <img src="__PUBLIC__/Home/images/wx.png" class="wx-float" alt=""> 
          </a>
                    <a href="http://career.oppo.com/" target="_blank" class="text text-link">加入我们</a>
          <a href="http://www.oppo.com/cn/service/help?name=sourcing" target="_blank" class="text text-link">采购相关</a>
        </p>
      </div>
      <div class="footer-subscribe lap-one-half desk-lap-one-third align-right">
        <!-- <div class='g'>
          <div class='gi lap-one-whole one-whole'>
            <a href='#' id="btn-kf"><img src='/cn/media/images/zxkf.png' /></a>
          </div>
          <div class='gi footer-lap-hide one-third'><img alt='' src='/cn/media/images/m.jpg' /></div>
        </div> -->
        <div class="g one-whole desk-one-half lap-one-half about-contact pull-left">
	        <a id="btn-kf" href="http://oim.oppo.com/oim/chatClient/chatbox.jsp?companyID=8092&amp;configID=890&amp;enterurl=http%3A%2F%2Foim%2Emyoppo%2Ecom%2Foim%2Fpreview%2Ejsp&amp;pagereferrer=http%3A%2F%2Foim%2Emyoppo%2Ecom%2Foim%2FembedScript%2Ejsp%3Ft%3D1517&amp;k=1" target="_blank">
	        <div class="about-contact-icon">
	          <span class="icon icon-chat"></span>
	        </div>
	        <div class="about-contact-info">
	          <h4 class="h-delta">
	            <span class="highlight">在线客服</span>
	            <span class="icon icon-arrow"></span>
	          </h4>
	          <p>人工服务：8:30~22:00</p>
	          <p>24小时智能机器人服务</p>
	        </div>
	        </a>
	    </div>
	    <div class="g one-whole desk-one-half lap-one-half about-contact pull-left second-about-contact">
            <div class="about-contact-icon">
              <span class="icon icon-tel"></span>
            </div>
            <div class="about-contact-info">
              <h4 class="h-delta">
                <span class="highlight">4001-666-888</span>
              </h4>
              <p style="">7*24小时客服电话</p>
            </div>
        </div>
      </div>
      <!-- <div class='footer-subscribe lap-one-half desk-lap-one-third align-right'>
        <a href='#' id="btn-kf"><img alt='' src='/cn/media/images/zxkf.jpg' /></a>
      </div> -->
      <!-- <div class='footer-subscribe lap-one-half desk-lap-one-third'>
        <form action='#' class='main-form'>
          <div class='input-button-item'><input placeholder='输入Email订阅我们的最新动态' type='text'>
          <button class='button button-primary' type='submit'>订 阅</button>
          </div>
        </form>
      </div> -->
    </div>
  </div>
  <div class="footer-info">
    <div class="wrapper">
      <p class="copy">{$desc['copyright']}</p>
      <a href="http://wljg.gdgs.gov.cn/corpsrch.aspx?key=441900000436441" target="_blank" title="企业名称：广东欧珀电子工业有限公司
法定代表人：金乐亲
标识状态：已激活 粤工商备E191512001248
电子标识有效期：2015-12-14～2020-12-16" class="footer-identification"><img src="__PUBLIC__/Home/images/20141126002933.png" alt="" style="border:0;"></a>
      <!-- <div class='chat-structure'>
        <div class='online-chat'>
          <a href='#' id="btn-kf">
            <div class='online-chat-info'>
              <img alt='' src='/cn/media/images/chat.png' />
              <div class='info'>
                <p>在线客服</p>
                <p>工作时间：08:30 - 22:00</p>
                <p>7x24小时客服电话：4001-666-888</p>
              </div>
            </div>
          </a>
          <a href="#">
            <div class='online-chat-icon'>
              <span class='icon icon-top'></span>
            </div>
          </a>
        </div>
        <a class='qr-button' id='btn-qr'>
          <div class='picture'>
            <img alt='' src='/cn/media/images/qr.png' />
          </div>
        </a>
        <div class='qr-code' id='qr-code'>
          <div class='qr-image'>
            <img alt='' src='/cn/media/images/wx.png' />
          </div>
          <div class='qr-description'>
            <p>扫描二维码关注</p>
            <p>OPPO官方微信</p>
          </div>
        </div>
      </div> -->
    </div>
  </div>
</footer>

<div style="display: none;" class="navi-scroll">
  <div class="navi-scroll-content">
    <a href="javascript:;" class="scroll-top-btn"><span>回到顶部</span><i></i></a>
    <a href="http://www.wenjuan.com/s/ENb67n/" target="_blank" class="survey-btn survey-btn-normal"><span>意见反馈</span><i></i></a>
    <a href="http://www.wenjuan.com/s/V7bume6/" class="survey-btn survey-btn-mobile"><span>意见反馈m</span><i></i></a>
  </div>
</div>


  <link rel="stylesheet" href="__PUBLIC__/Home/css/SearchInfoWindow_min.css">
